/* --- ver 1.01 --- */

/* --- 預設配色 --- */
:root {
  --def-font: 'Courier New', 'Courier', 'Cascadia Code', 'monospace', 'JetBrains Mono', 'Fira Code';
  --def-bg: #111;
  --def-main-content-bg: #222;
  --def-text: #ddd;
  --def-text-shadow: 0 0 .5px var(--def-text);
  
  /* --- 超連結配色 --- */
  --def-link: #0c0;
  --def-link-shadow: 0 0 2px var(--def-link);
  --def-link-hover: #3f3;

  /* --- 按鈕配色 --- */
  --def-btn-bg: #333;
  --def-btn-bg-hover: #444;
  --def-btn-text: var(--def-text);
  --def-btn-border: 1px solid #666;
  --def-btn-shadow: none;

  /* --- 框架配色 --- */
  --def-box-bg: rgb(50, 255, 50, .1);
  --def-box-bg-hover: rgb(50, 255, 50, .2);;
  --def-box-shadow: inset 0 0 20px rgb(50, 255, 50, .5);;
  --def-box-border-out: 2px solid var(--def-link);
  --def-box-border-in: 1px solid var(--def-link);
}

/* --- 平滑卷動 --- */
html {
  scroll-behavior: smooth;
}

/* --- 防止撐開框架 --- */
*, *::before, *::after {
  box-sizing: border-box;
}

/* --- 整體設定 --- */
body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--def-bg);
  font-family: var(--def-font);
  color: var(--def-text);
  text-shadow: var(--def-text-shadow);
  display: flex;
  max-width: 1600px;
  /* --- 頁面內卷軸顏色 --- */
  scrollbar-color: var(--def-link) var(--def-bg);
}

/* --- CRT 掃描線濾鏡 --- */
body::before,
body::after {
  pointer-events: none;
  content: " ";
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}
body::before {
  z-index: 9999;
  background: linear-gradient(rgba(64, 64, 64, .2) 50%, rgba(0, 0, 0, .2) 50%), 
              linear-gradient(90deg, rgba(255, 0, 0, .03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
  background-size: 100% 3px, 3px 100%;
  box-shadow: inset 0 0 50px rgb(0, 0, 0, .25);
  animation: screen-flicker 0.15s infinite;
}
body::after {
  background: radial-gradient(rgba(255, 255, 255, .1) 50%, rgba(0, 0, 0, .5) 150%);
}
@keyframes screen-flicker {
  0% { opacity: 0.97; }
  5% { opacity: 0.99; }
  10% { opacity: 0.96; }
  100% { opacity: 1; }
}

/* --- CRT 掃描線濾鏡 [開關] --- */
body.no-flicker::before {
  display: none !important;
  animation: none !important;
}
body.no-flicker #flicker-toggle svg {
  opacity: 0.5;
}

/* SVG 圖示 */
svg {
  fill: var(--def-link);
}

/* 超連結樣式 */
a {
  color: var(--def-link);
  text-decoration: none;
  text-shadow: var(--def-link-shadow);
}
a:hover {
  color: var(--def-link-hover);
  text-shadow: var(--def-link-hover);
}

/* 自適應圖片尺寸 */
img {
  max-width: 100%;
  height: auto;
}

/* --- 跳至主要內容 --- */
.skip-link {
  position: absolute;
  top: -100px;
  left: 10px;
  z-index: 9999;
  background-color: #000;
  color: #fff;
  padding: 10px;
}
.skip-link:focus {
  top: 10px;
}

/* --- 標題 --- */
.header .title,
.header .title a {
  color: #fff;
  text-shadow: 0 0 5px #fff;
  text-transform: uppercase;
}
.header .title::after {
  content: "_";
  animation: blink-cursor 1s step-end infinite;
}
@keyframes blink-cursor {
  from, to {
    opacity: 1;
    text-shadow: 0 0 5px #fff;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
}

/* --- 頁尾 --- */
footer {
  margin-bottom: 20px;
  text-align: center;
}

/* --- 按鈕 --- */
button {
  background: var(--def-btn-bg);
  border: var(--def-btn-border);
  color: var(--def-btn-text);
  box-shadow: var(--def-btn-shadow);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 0;
  transition: 0.2s;
}
button:hover {
  background: var(--def-btn-bg-hover);
}

/* --- 側欄佈局 --- */
#menu-aside, #toc-aside {
  position: sticky;
  top: 0;
  padding: 0 20px;
  height: 100dvh;
  width: 300px;
  flex-shrink: 0;
  overflow-y: auto;
  background-color: var(--def-bg);
}

/* --- 左側選單[垂直分佈] --- */
#menu-aside {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-right: 1px solid var(--def-link);
}
#toc-aside {
  border-left: 1px solid var(--def-link);
}

/* --- 收合式選單 --- */
.Label ul {
  padding: 0;
  list-style: none;
}
.menu-item-row {
  display: flex;
  align-items: center;
}
.Label .toggle-btn {
  cursor: pointer;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  user-select: none;
}
.Label .toggle-btn::after {
  content: '[\3000]'; /* [　] */
}
.Label .toggle-btn:hover:after {
  content: '[\FF2F]'; /* [Ｏ] */
}
.Label li.is-open > .menu-item-row .toggle-btn::after {
  content: '[\FF38]'; /* [Ｘ] */
}
.Label .submenu-content { /* 子選單 */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}
.Label .submenu-content li span::after {
  content: '\251C\2500\0020'; /* ├─ */
}
.Label .submenu-content li:last-child span::after {
  content: '\2514\2500\0020'; /* └─ */
}
.Label .submenu-content li {
  padding-left: 60px;
  padding-bottom: 10px;
}
#menu-aside li.is-open > .submenu-content { /* 選單開啟時 */
  max-height: 100vh;
  transition: max-height 0.5s ease-in-out;
}

/* --- 目錄 --- */
.toc-h2-section ul,
.toc-h3-section ul {
  list-style: none;
  padding: 0;
}
.toc-list li {
  padding-left: 20px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toc-list a.active { /* 目前閱讀章節 */
  color: var(--def-text);
}
.post-nav { /* 文章導覽 */
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
}
.post-nav button {
  cursor: pointer;
  transition: all 0.2s;
}
.post-nav span {
  flex: 1;
}

/* --- 小螢幕導覽工具 --- */
.toolbar {
  display: none;
}

/* --- 主內容 --- */
#main-content {
  background-color: var(--def-main-content-bg);
  flex: 1;
  padding: 0 20px 60px 20px;
  min-width: 600px;
  max-width: 900px;
  min-height: 100vh;
}

/* --- 文章列表 --- */
.section-post-item {
  display: flex;
  align-items: center;
  padding: 0 0 10px 20px;
  gap: 6px;
  width: 100%;
  animation: fadeIn 0.4s ease forwards;
}
.section-post-item a { /* 標題 */
  order: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-post-item::after { /* 自動填滿虛線 */
  order: 2;
  content: "";
  flex-grow: 1;
  border-top: 1px dotted #999;
  min-width: 20px;
}
.section-post-item span { /* 日期 */
  order: 3;
  flex-shrink: 0;
  font-family: monospace;
}
.section-footer { /* 顯示更多 */
  text-align: center;
}
@keyframes fadeIn { /* 顯示更多的展開動畫 */
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- 程式碼、表格、摺疊元件 --- */
pre, table, details {
  background-color: var(--def-box-bg);
  box-shadow: var(--def-box-shadow);
  border: var(--def-box-border-out);
  text-shadow: none;
  margin: 20px 0;
  padding: 20px;
}
th, td, summary {
  background-color: var(--def-box-bg);
  text-shadow: none;
}

/* --- 程式碼 --- */
pre {
  overflow-x: auto;
  padding-top: 46px;
  font-size: 1.2em;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: relative;
}
pre::before {
  content: " ";
  font-size: .2em;
  position: absolute;
  top: 0; left: 0; right: 0;
  background: var(--def-box-bg);
  padding: 8px 20px;
}
pre .copy-btn {
  position: absolute;
  font-size: .2em;
  top: 2px; right: 2px;
  padding: 4px;
}

/* --- 表格 --- */
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  border-bottom: var(--def-box-border-out);
}
td {
  padding: 10px;
  border: var(--def-box-border-in);
}
tr:hover td {
  background-color: var(--def-box-bg-hover);
}

/* --- 摺疊元件 --- */
summary {
  cursor: pointer;
  list-style: none;
  margin: -20px;
  padding: 10px;
}
summary::before {
  content: "\FF0B"; /* ＋ */
  margin-right: 10px;
}
details[open] summary::before {
  content: "\FF0D"; /* － */
}
summary:hover {
  background-color: var(--def-box-bg-hover);
}
details[open] summary {
  margin: -20px -20px 0 -20px;
}

/* --- 小螢幕自適應 --- */
@media (max-width: 1200px) {

  /* --- 導覽工具 --- */
  .toolbar {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 7500;
  }

  /* --- 選單和目錄 --- */
  #menu-aside, 
  #toc-aside {
    position: fixed;
    top: 0;
    width: 85vw;
    z-index: 5000;
    transition: transform 0.3s ease;
  }
  #menu-aside { /* --- 選單 --- */
    left: 0; 
    transform: translateX(-100%);
  }
  #toc-aside { /* --- 目錄 --- */
    right: 0; 
    transform: translateX(100%);
  }
  #menu-aside.active, /* --- 滑入畫面 --- */
  #toc-aside.active {
    transform: translateX(0);
  }

  /* --- 主內容 --- */
  #main-content {
    min-width: 100%;
    max-width: 100%;
  }
}