/* --- Ver 0.01 --- */

:root {
  --def-bg: #111;
  --def-main-content-bg: #222;
  --def-text: #ddd;
  --def-link: #0c0;
  --def-link-hover: #3f3;
  --def-btn-bg: #333;
  --def-btn-bg-hover: #444;
  --def-btn-border: 1px solid #555;
  --def-text-shadow: 0 0 .5px var(--def-text);
  --def-link-shadow: 0 0 2px var(--def-link);
  --def-shadow: 0 0 5px rgba(0, 0, 0, .3);
  --def-box-bg: rgba(51, 255, 51, .1);
  --def-box-bg-hover: rgba(51, 255, 51, .2);
  --def-font: 'Courier New', 'Courier', 'Cascadia Code', monospace;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--def-bg);
  font-family: var(--def-font);
  color: var(--def-text);
  text-shadow: var(--def-text-shadow);
  display: flex;
  max-width: 1600px;
  scrollbar-color: var(--def-link) var(--def-bg);
}

body::before,
body::after {
  pointer-events: none;
  content: " ";
  display: block;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
}

body::before {
  z-index: 9999;
  background: linear-gradient(rgba(64, 64, 64, .2) 50%, rgba(0, 0, 0, .2) 50%), 
              linear-gradient(90deg, rgba(255, 0, 0, .03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
  background-size: 100% 3px, 3px 100%;
  box-shadow: inset 0 0 50px rgb(0, 0, 0, .25);
  animation: screen-flicker 0.15s infinite;
}

body::after {
  background: radial-gradient(rgba(255, 255, 255, .1) 50%, rgba(0, 0, 0, .5) 150%);
}

@keyframes screen-flicker {
  0% { opacity: 0.97; }
  5% { opacity: 0.99; }
  10% { opacity: 0.96; }
  100% { opacity: 1; }
}

a {
  color: var(--def-link);
  text-decoration: none;
  text-shadow: var(--def-link-shadow);
}

a:hover {
  color: var(--def-link-hover);
  text-shadow: var(--def-link-hover);
}

img {
  max-width: 100%;
  height: auto;
}

/* --- 跳至主要內容 --- */
.skip-link {
  position: absolute;
  top: -100px;
  left: 10px;
  z-index: 9999;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.skip-link:focus {
  top: 10px;
}

/* --- 網站標題 --- */
.header .title,
.header .title a {
  color: #fff;
  text-shadow: 0 0 5px #fff;
  text-transform: uppercase;
}

.header .title::after {
  content: "_";
  animation: blink-cursor 1s step-end infinite;
}

@keyframes blink-cursor {
  from, to {
    opacity: 1;
    text-shadow: 0 0 5px #fff;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
}

/* --- 按鈕樣式 --- */
button {
  background: var(--def-btn-bg);
  border: var(--def-btn-border);
  color: var(--def-text);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 0;
  transition: 0.2s;
}

button:hover {
  background: var(--def-btn-bg-hover);
}

/* --- 側邊欄佈局 --- */
#menu-aside, #toc-aside {
  position: sticky;
  top: 0;
  padding: 0 20px;
  height: 100dvh;
  width: 300px;
  flex-shrink: 0;
  overflow-y: auto;
  background-color: var(--def-bg);
}

/* --- 左側選單 垂直分佈 --- */
#menu-aside {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-right: 1px solid var(--def-link);
}

#toc-aside {
  border-left: 1px solid var(--def-link);
}

/* --- 主內容 --- */
#main-content {
  background-color: var(--def-main-content-bg);
  flex: 1;
  padding: 0 20px 60px 20px;
  min-width: 600px;
  max-width: 900px;
}

/* --- 文章列表 --- */
.section-post-item {
  display: flex;
  align-items: center;
  padding: 0 0 10px 20px;
  gap: 6px;
  width: 100%;
}

/* 文章列表 - 標題 */
.section-post-item a {
  order: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 文章列表 - 自動填滿虛線 */
.section-post-item::after {
  order: 2;
  content: "";
  flex-grow: 1;
  border-top: 1px dotted #999;
  min-width: 20px;
}

/* 文章列表 - 日期 */
.section-post-item span {
  order: 3;
  flex-shrink: 0;
  font-family: monospace;
}

.section-footer {
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- 收合式選單 --- */
.Label ul {
  padding: 0;
  list-style: none;
}

.menu-item-row {
  display: flex;
  align-items: center;
}

/* --- 選單 --- */
.Label .toggle-btn {
  cursor: pointer;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  user-select: none;
}

.Label .toggle-btn::after {
  content: '[　]';
}

.Label .toggle-btn:hover:after {
  content: '[Ｏ]';
}

.Label li.is-open > .menu-item-row .toggle-btn::after {
  content: '[Ｘ]';
}

/* --- 子選單 --- */
.Label .submenu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

.Label .submenu-content li span::after {
  content: '├─ ';
}

.Label .submenu-content li:last-child span::after {
  content: '└─ ';
}

.Label .submenu-content li {
  padding-left: 60px;
  padding-bottom: 10px;
}

/* --- 選單開啟時 --- */
#menu-aside li.is-open > .submenu-content {
  max-height: 100vh;
  transition: max-height 0.5s ease-in-out;
}

/* --- 目錄 --- */
.toc-h2-section ul,
.toc-h3-section ul {
  list-style: none;
  padding: 0;
}

.toc-list li {
  padding-left: 20px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --- 目前閱讀章節 --- */
.toc-list a.active {
  color: var(--def-text)
}

/* 文章導覽 */
.post-nav {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
}

.post-nav button {
  cursor: pointer;
  transition: all 0.2s;
}

/* --- 填補導覽按鈕之間的空間 --- */
.post-nav span {
  flex: 1;
}

/* --- 小螢幕導覽工具 --- */
.toolbar {
  display: none;
}

pre, table, details {
  background-color: var(--def-box-bg);
  box-shadow: inset 0 0 10px var(--def-link);
  border: 2px solid var(--def-link);
  text-shadow: none;
  margin: 20px 0;
  padding: 20px;
}

th, td, summary {
  background-color: var(--def-box-bg);
  text-shadow: none;
}


/* --- 程式碼區塊 --- */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.2em;
  position: relative;
  padding-top: 36px;
}

pre::before {
  content: "CODE";
  font-size: .2em;
  position: absolute;
  top: 0; left: 0; right: 0;
  background: var(--def-box-bg);
  padding: 4px 20px;
}

/* --- 表格 --- */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid var(--def-link);
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

td {
  padding: 10px;
  border: 1px solid var(--def-link);
}

tr:hover td {
  background-color: var(--def-box-bg-hover);
}

/* --- 摺疊元件 --- */
summary {
  cursor: pointer;
  list-style: none;
  margin: -20px;
  padding: 10px;
}

summary::before {
  content: "＋";
  margin-right: 10px;
}

details[open] summary::before {
  content: "－";
}

summary:hover {
  background-color: var(--def-box-bg-hover);
}

details[open] summary {
  margin: -20px -20px 0 -20px;
}

@media (max-width: 1200px) {

  /* --- 選單和目錄 --- */
  #menu-aside, 
  #toc-aside {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 85vw;
    z-index: 5000;
    overflow-y: auto;
    padding: 0 20px;
    transition: transform 0.3s ease;
  }

  /* --- 選單 --- */
  #menu-aside { 
    left: 0; 
    transform: translateX(-100%);
  }
  
  /* --- 目錄 --- */
  #toc-aside { 
    right: 0; 
    transform: translateX(100%);
  }

  /* --- 滑入畫面 --- */
  #menu-aside.active, 
  #toc-aside.active {
    transform: translateX(0);
  }

  /* --- 主內容 --- */
  #main-content {
    min-width: 100%;
    max-width: 100%;
  }

  /* --- 小螢幕導覽工具 --- */
  .toolbar {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 7500;
  }
}